
{% extends "User1/header_adm.html" %}
{% block content %}
{% load static %}


		<div id="page-wrapper">
			<div class="main-page">
				<div class="forms">

					<h3 class="title1">District</h3>
                    <div class="col-sm-6"  style="min-height:500px;">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                          <div class="alert alert-success"> {{message }}</div>
                            {% endfor %}
                        </ul>
                        {% endif %}
					<div class="form-grids row widget-shadow" data-example-id="basic-forms">
						<div class="form-title">
							<h4>District :</h4>
						</div>

						<div class="form-body">
                            {%  for k1 in data  %}
							<form action="/update_place/{{k1.6}}" method="post" id="myform">
                                {% csrf_token %}
                            <div class="form-group"> <label for="">Country</label>
                                <select name="country" id="country" class="form-control">
                                    <option value="">--Select--</option>
                                    <option selected value="{{k1.1}}">{{k1.0}}</option>
                                    {%  for k in data1  %}
                                    <option value="{{k.country_id}}">{{k.country}}</option>
                                    {% endfor  %}
                                </select> </div>
                                <div class="form-group"> <label for="">State</label>
                                    <select name="state" id="state" class="form-control">
                                        <option value="">--Select--</option>
                                        <option selected value="{{k1.3}}">{{k1.2}}</option>

                                    </select> </div>
                                    <div class="form-group"> <label for="">District</label>
                                        <select name="district" id="district" class="form-control">
                                            <option value="">--Select--</option>
                                            <option selected value="{{k1.5}}">{{k1.4}}</option>

                                        </select> </div>
                            <div class="form-group"> <label for=""></label>
                                <input type="text" class="form-control" id="" placeholder="place" value="{{k1.7}}" name="place"> </div>
                                <button type="submit" class="btn btn-default">Submit</button> </form>{% endfor  %}

                                <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                                <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
                                <script>

							$("#country").change(function () {
							   var country = $(this).val();

							   $.ajax({

									 url: '/display_state/',
									 data: {
										 'country_id': country
									 },
									 dataType: 'json',
									 success: function (data) {


                                        let html_data = '<option value="">--Select--</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.state_id}">${data.state}</option>`
                });
                $("#state").html(html_data);



									 }
							   });

							});
                            $("#state").change(function () {
							   var state = $(this).val();

							   $.ajax({

									 url: '/display_district/',
									 data: {
										 'state_id': state
									 },
									 dataType: 'json',
									 success: function (data) {


                                        let html_data = '<option value="">--Select--</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.district_id}">${data.district}</option>`
                });
                $("#district").html(html_data);



									 }
							   });

							});
						 </script>
        <script>
            (function ($, W, D)
          {
          var JQUERY4U = {};
          JQUERY4U.UTIL =
              {
                  setupFormValidation: function ()
                  {
                    $.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                var check = false;
                return this.optional(element) || regexp.test(value);
            },
            "Not a valid Input."
        );

                  //form validation rules
                  $("#myform").validate({
                    rules: {
                                        country: {
                                          required: true,

                                        },
                                        state: {
                                          required: true,


                                        },
                                        district: {
                                          required: true,

                                        },
                                        place: {
                                          required: true,
                                          regex :/^[a-zA-Z ]+$/,

                                        },

                                      },
                                      messages: {



                      },
                      submitHandler: function (form) {
                      form.submit();
                      }
                  });
                }
              }
          //when the dom has loaded setup form validation rules
          $(D).ready(function ($) {
              JQUERY4U.UTIL.setupFormValidation();
          });
          })(jQuery, window, document);
        </script>
						</div>
					</div>
                </div>

					<div class="row">

				</div>
			</div>
		</div>
		<!--footer-->
        {% endblock %}