{% extends "User3/adoption_header.html" %}
{% block content %}
{% load static %}

<div class="content">
    <div class="main">
<div class="container">
<div class="blog-content">
 <div class="blog-content-head text-left">
    <div class="frm_heading" style="text-align: center; margin-bottom: 10px;">
       <h2>Boarding - Services </h2>

     </div>
</div>
    <div class="section group">

              <div class="blog_posts">
                <div class="section group example">
                    <div class="col-sm-2">
                        <div class="blog_img">
                            <ul class="sidemenu">
                                <li><a href="/ad_Boarding">Boarding Pets</a></li>

                                <li><a href="/boarding_booking_list">Boarding Booking List</a></li>
                                <li><a href="/boarding_booking_accepted_list">Accepted List</a></li>
                            </ul>
                        </div>
                        <div class="sideimg">
                            <img src="{% static 'assets/images/pic8.jpg' %}" alt="" width="100%" height="60%"/>
                        </div>
                    </div>
                        <div class="col-sm-6">

                            <div class="blog_data">



						 {% if messages %}
						 <ul class="messages">
							 {% for message in messages %}
						   <div class="alert alert-success"> {{message }}</div>
							 {% endfor %}
						 </ul>
						 {% endif %}

                         {%  for k in data  %}
                         <form method="post" action="/update_boarding_services/{{k.b_service_id}}" method="post" id="myform" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>type of pet</label>
                               <select name="animal_name" class="form-control">
                                <option selected value="{{k.pet_type}}">{{k.pet_type}}</option>
<option value="">--Select</option>
<option value="Cats">Cats</option>
<option value="Dogs">Dogs</option>
<option value="Birds">Birds</option>
<option value="Rabbits">Rabbits</option>
<option value="Horses">Horses</option>
<option value="Ferrets">Ferrets</option>
<option value="Fish">Fish</option>
<option value="Guinea pigs">Guinea pigs</option>
<option value="Amphibians">Amphibians</option>
<option value="Reptiles">Reptiles</option>
                               </select>


                          </div>
                          <div class="form-group">
                            <label> Cost Per Day</label>
                            <input name="cost" value="{{k.cost}}" type="text" class="form-control">
                       </div>

                      <div class="col-sm-12"  style="text-align: center;"><div>
                        <input type="submit" value="Submit" class="myButton">
              </div></div>
                   </form>  {% endfor  %}


                         <script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
                         <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                         <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
 <script>
     (function ($, W, D)
   {
   var JQUERY4U = {};
   JQUERY4U.UTIL =
       {
           setupFormValidation: function ()
           {
             $.validator.addMethod(
     "regex",
     function(value, element, regexp) {
         var check = false;
         return this.optional(element) || regexp.test(value);
     },
     "Not a valid Input."
 );

           //form validation rules
           $("#myform").validate({
             rules: {

                animal_name: {

                                     required: true,



                                 },
                                 cost: {

required: true,

digits:true,

},

                               },
                               messages: {



               },
               submitHandler: function (form) {
               form.submit();
               }
           });
         }
       }
   //when the dom has loaded setup form validation rules
   $(D).ready(function ($) {
       JQUERY4U.UTIL.setupFormValidation();
   });
   })(jQuery, window, document);
 </script>
                        </div>

                    </div>
                     <div class="clearfix"></div>
                </div>
             <div class="clearfix"></div>
    </div>


</div>

</div>

</div>
</div>

{% endblock %}
<!-- content-section-ends -->
<!-- footer-section-starts -->
