{% extends "User3/adoption_header.html" %}
{% block content %}
{% load static %}

    <!-- header-section-starts -->

    <div class="content">
        <div class="main">
<div class="container">
    <div class="blog-content">
     <div class="blog-content-head text-left">
        <div class="frm_heading" style="text-align: center;">
           <h2>Profile</h2>

         </div>
    </div>
        <div class="section group">

                  <div class="blog_posts">
                    <div class="section group example">
                        <div class="col-sm-3">
                            <div class="blog_img">
                                <ul class="sidemenu">
                                    <li><a href="/ad_Profile">View profile</a></li>
                                    <li><a href="/ad_edit_profile">Update Profile</a></li>
                                    <li><a href="/ad_change_password">Change password</a></li>

                                </ul>
                            </div>
                            <div class="sideimg">
                                <img src="{% static 'assets/images/pic8.jpg' %}" alt="" width="100%" height="60%"/>
                            </div>
                        </div>
                            <div class="col-sm-9">

                                <div class="blog_data">
                                    {% if messages %}
<ul class="messages">
    {% for message in messages %}
  <div class="alert alert-success"> {{message }}</div>
    {% endfor %}
</ul>
{% endif %}


<form method="post" action="/ad_update_password/" method="post" id="myform">
    {% csrf_token %}


  <div class="col-sm-6">



    <div>
        <span><label>Old Password</label></span>
       <span><input name="opassword" type="password" id="opassword" class="form-control"></span>
    </div>
   <div>
    <span><label>New PASSWORD</label></span>
   <span><input name="password" type="password" id="password" class="form-control"></span>
</div>
<div>
<span><label>CONFIRM PASSWORD</label></span>
<span><input name="cpassword" type="password" class="form-control"></span>
</div>
<div   style="text-align: center;margin-top: 6px;"><div>
    <span><input type="submit" value="Submit" class="myButton"></span>
</div></div>
  </div>
</form>


<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
setupFormValidation: function ()
{
$.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

//form validation rules
$("#myform").validate({
rules: {
        firstname: {
          required: true,
          regex :/^[a-zA-Z ]+$/,
          minlength: 3,

        },
        lastname: {
          required: true,
          regex :/^[a-zA-Z ]+$/,
          minlength: 3,
        },
        phone: {
            required: true,
            digits:true,
               minlength: 10,
               maxlength: 10,
               regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
        },
        address: {
          required: true,
          minlength: 3,

        },
        mail_id: {
         required: true,
         regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

        },
        username: {
            required: true,
            regex : /^[A-Za-z0-9@]+$/,
            minlength: 5,
            maxlength: 15,

        },
        password: {
            required: true,
             regex : /^[A-Za-z0-9@#*]+$/,
             minlength: 5,
            maxlength: 15,

        },
        cpassword: {
            required: true,
               regex : /^[A-Za-z0-9@#*]+$/,
               minlength: 5,
              maxlength: 15,
          equalTo: "#password"

        },
      },
      messages: {

        phone: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",

username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
cpassword: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",

},
submitHandler: function (form) {
form.submit();
}
});
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>


                               </div>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                     <div class="clearfix"></div>
            </div>


     </div>

        </div>

</div>
</div>

	{% endblock %}
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
