{% extends "User3/adoption_header.html" %}
{% block content %}
{% load static %}

    <!-- header-section-starts -->

    <div class="content">
        <div class="main">
<div class="container">
    <div class="blog-content">
     <div class="blog-content-head text-left">
        <div class="frm_heading" style="text-align: center;">
           <h2>Profile</h2>

         </div>
    </div>
        <div class="section group">

                  <div class="blog_posts">
                    <div class="section group example">
                        <div class="col-sm-3">
                            <div class="blog_img">
                                <ul class="sidemenu">
                                    <li><a href="/ad_Profile">View profile</a></li>
                                    <li><a href="/ad_edit_profile">Update Profile</a></li>
                                    <li><a href="/ad_change_password">Change password</a></li>

                                </ul>
                            </div>
                            <div class="sideimg">
                                <img src="{% static 'assets/images/pic8.jpg' %}" alt="" width="100%" height="60%"/>
                            </div>
                        </div>
                            <div class="col-sm-9">

                                <div class="blog_data">
                                    {% if messages %}
<ul class="messages">
    {% for message in messages %}
  <div class="alert alert-success"> {{message }}</div>
    {% endfor %}
</ul>
{% endif %}
{% if data %}
{%  for k in data  %}
<form method="post" action="/save_profile_agency/{{k.login_id}}" method="post" id="myform">
    {% csrf_token %}
 <div class="col-sm-6">
    <div class="form-group">
         <label>Agency Name</label>
         <input name="aname" value="{{k.agency_name}}" type="text" class="form-control">
    </div>

    <div class="form-group">
          <label>Phone Number</label>
         <input name="phone"  value="{{k.phone_number}}" type="text" class="form-control">
    </div>
    <div>
         <label>Address</label>
        <textarea name="address"  class="form-control">{{k.address}} </textarea>
   </div>
   <div>
     <label>Email Id</label>
    <input name="mail_id" type="text" value="{{k.mail_id}}"  class="form-control">

</div>

  <div class="col-sm-12"  style="text-align: center;"><div>
     <input type="submit" value="Submit" class="myButton">
</div></div>
</form>
{% endfor %}
{% endif %}
<script>
        $("#country").change(function () {
       var country = $(this).val();

       $.ajax({

             url: '/display_state/',
             data: {
                 'country_id': country
             },
             dataType: 'json',
             success: function (data) {


                let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.state_id}">${data.state}</option>`
});
$("#state").html(html_data);



             }
       });

    });
    $("#state").change(function () {
       var state = $(this).val();

       $.ajax({

             url: '/display_district/',
             data: {
                 'state_id': state
             },
             dataType: 'json',
             success: function (data) {


                let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.district_id}">${data.district}</option>`
});
$("#district").html(html_data);



             }
       });

    });
    $("#district").change(function () {
       var district = $(this).val();

       $.ajax({

             url: '/display_place/',
             data: {
                 'district_id': district
             },
             dataType: 'json',
             success: function (data) {


                let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.place_id}">${data.place}</option>`
});
$("#place").html(html_data);



             }
       });

    });
$("#id_username").keyup(function () {
       var username = $(this).val();
       var count = username.length;
       $('#cb').html("");
       if(count>4)
      {
       $.ajax({
             url: '/check_username/',
             data: {
                 'username': username
             },
             dataType: 'json',
             success: function (data) {
                  if (data.username_exists) {


                    $('#cb').css('color','red');
                $('#cb').html(data.error);

                  }
                  else{

                    $('#cb').css('color','green');
                $('#cb').html(data.success);
                  }green
             }
       });
    }
    });
 </script>
<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
setupFormValidation: function ()
{
$.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

//form validation rules
$("#myform").validate({
rules: {
        aname: {
          required: true,


        },

        phone: {
            required: true,
            digits:true,
               minlength: 10,
               maxlength: 10,
               regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
        },
        address: {
          required: true,
          minlength: 3,

        },
        mail_id: {
         required: true,
         regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

        },

      },
      messages: {

        phone: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",

username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
cpassword: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",

},
submitHandler: function (form) {
form.submit();
}
});
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>


                               </div>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                     <div class="clearfix"></div>
            </div>


     </div>

        </div>

</div>
</div>

	{% endblock %}
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
