{% extends "User2/user_header.html" %}
{% block content %}
{% load static %}

    <!-- header-section-starts -->
    <script type="text/javascript" src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.fancybox.css' %}" media="screen" />
   <script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

		});
	</script>

    <div class="content">
        <div class="main">
<div class="container">
    <div class="blog-content">
     <div class="blog-content-head text-left">
        <div class="frm_heading" style="text-align: center; margin-top: 10px;">
           <h2>Adopt a Pet</h2>

         </div>
    </div>
        <div class="section group">

                  <div class="blog_posts">
                    <div class="section group example">
                        <div class="col-sm-3">
                            <div class="blog_img">
                                <ul class="sidemenu">
                                    <li><a href="/Adoption">Pets List</a></li>
                                    <li><a href="/Booked_list">Booked List</a></li>

                                </ul>
                            </div>
                            <div class="sideimg">
                                <img src="{% static 'assets/images/pic8.jpg' %}" alt="" width="100%" height="60%"/>
                            </div>
                        </div>
                            <div class="col-sm-9">

                                <div class="blog_data">
                                    {% if messages %}
<ul class="messages">
    {% for message in messages %}
  <div class="alert alert-success"> {{message }}</div>
    {% endfor %}
</ul>
{% endif %}
<div class="gallery-content-head text-left">

</div>

    <div class="section group">
        {% if data %}
        {%  for k in data1  %}
        <div class="grid_1_of_4 images_1_of_4">
             <a class="fancybox" href="{{k.photo}}" data-fancybox-group="gallery" title="Name: {{k.tag_name}} Age: {{k.age}}"><img src="{{k.photo}}"  width="100%" height="150"class="img-style row6" alt=""><span> </span></a>
             <div style="padding: 5px; ">Name : {{k.tag_name}}<br>
                Age : {{k.age}}<br>
                Breed : {{k.breed}}<br>
                Gender : {{k.gender}}
                <div><a href="/book_adoption/{{k.adoption_id}}"  class="btn btn-info">Book Adoption</a></div></div>
        </div>
        {% endfor  %}
        {% else %}
        <div class="alert alert-success"> No List Available</div>
        {% endif %}
    </div>
                               </div>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                     <div class="clearfix"></div>
            </div>


     </div>

        </div>

</div>
</div>
<link href="{% static 'assets/jquery/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />

<script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.min.js' %}"></script>
<script>
$(function() {


	$( "#date" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
changeYear: true,maxDate:'0', });


  });</script>
<script>
    $("#country").change(function () {
   var country = $(this).val();

   $.ajax({

         url: '/display_state/',
         data: {
             'country_id': country
         },
         dataType: 'json',
         success: function (data) {


            let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.state_id}">${data.state}</option>`
});
$("#state").html(html_data);



         }
   });

});
$("#state").change(function () {
   var state = $(this).val();

   $.ajax({

         url: '/display_district/',
         data: {
             'state_id': state
         },
         dataType: 'json',
         success: function (data) {


            let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.district_id}">${data.district}</option>`
});
$("#district").html(html_data);



         }
   });

});
$("#district").change(function () {
   var district = $(this).val();

   $.ajax({

         url: '/display_place/',
         data: {
             'district_id': district
         },
         dataType: 'json',
         success: function (data) {


            let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.place_id}">${data.place}</option>`
});
$("#place").html(html_data);



         }
   });

});
$("#place").change(function () {
   var place = $(this).val();

   $.ajax({

         url: '/display_ad/',
         data: {
             'place_id': place
         },
         dataType: 'json',
         success: function (data) {


            let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.login_id}">${data.agency_name}</option>`
});
$("#ad").html(html_data);



         }
   });

});

</script>

	{% endblock %}
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
